
<h1>Formulario</h1>
<mat-slide-toggle>Toggle me!</mat-slide-toggle>
<form (ngSubmit)="onSubmit()">
    <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name"
    required/><br>
    </div>
    <div class="form-group">
    <label for="lastname">Lastname:</label>
    <input type="text" id="lastname" name="lastname" required/><br>
    </div>
    <div class="form-group">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required/><br>
    </div>
    <button type="submit">Continue</button>
</form>
